/* Full Page Layout for About Section */
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* About Me Section */
.aboutme-section {
  background-color: #f9f9f9;
  padding: 80px 0;
  font-family: 'Poppins', sans-serif;
  flex-grow: 1; /* This ensures the About Me section grows to fill the available space */
}

/* Intro Section */
.intro {
  text-align: center;
  margin-bottom: 40px;
}

.intro .title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
}

.intro .description {
  font-size: 1.2rem;
  color: #555;
  line-height: 1.8;
  margin-top: 20px;
}

.highlight {
  font-weight: bold;
  color: #b566f7;
}

/* Skills Section */
.skills-title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 40px;
  color: #333;
}

.skills-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  text-align: center;
}

.skill-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 250px;
  transition: transform 0.3s;
}

.skill-card:hover {
  transform: translateY(-10px);
}

.skill-card h4 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.skill-card p {
  font-size: 1.1rem;
  color: #555;
  margin-top: 15px;
}

.highlight-card {
  background-color: #dddbe4;
  color: #1a1a1a;
}

.highlight-card:hover {
  background-color: #a578ec;
}

/* Education Section */
.education {
  margin-top: 50px;
  text-align: center;
}

.education .section-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.education-details {
  font-size: 1.2rem;
  color: #555;
  line-height: 1.8;
}

/* Work Experience Section */
.experience {
  margin-top: 50px;
  text-align: center;
}

.experience .section-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.experience-details {
  font-size: 1.2rem;
  color: #555;
  line-height: 1.8;
}

/* Personal Details Section */
.personal-details {
  margin-top: 50px;
  text-align: center;
}

.personal-details .section-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.personal-info {
  font-size: 1.2rem;
  color: #555;
  line-height: 1.8;
}

/* Languages Known Section */
.languages {
  margin-top: 50px;
  text-align: center;
}

.languages .section-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.languages-info {
  font-size: 1.2rem;
  color: #555;
  line-height: 1.8;
}

.language-list {
  list-style-type: none;
  padding: 0;
}

/* Footer styles */
.footer {
  background-color: #151717;
  color: white;
  text-align: center;
  padding: 20px 0;
  width: 110%;
  position: relative;
  bottom: 0;
}
