.projects-section {
  padding: 80px 0;
  background-color: #f9f9f9;
  font-family: 'Poppins', sans-serif;
}

.projects-title {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
  color: #333;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  justify-items: center;
}

.project-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s;
  width: 100%;
  max-width: 450px;
  margin-left: 100px;
}

.project-card:hover {
  transform: translateY(-10px);
}

.project-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.project-details {
  padding: 20px;
}

.project-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.project-description {
  font-size: 1rem;
  color: #555;
  margin-bottom: 20px;
}

.tech-stack {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.tech {
  background-color: #9aff3f;
  color: #1a1a1a;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 0.9rem;
}

.btn-view-project {
  display: inline-block;
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  text-decoration: none;
}

.btn-view-project:hover {
  background-color: #7acc2b;
}
.btn-view-project:active {
  background-color: #369c24;
}